body {
  background-color: #1e1e1e;
  background-image:
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);
  background-size: 40px 40px;
  color: #e0e0e0;
}

.bw-card {
  background: linear-gradient(135deg, #000000, #434343);
  border: 1px solid white;
  border-radius: 15px;
}

.card-image-wrapper {
  
}

.img-grayscale {
  filter: grayscale(100%);
}

.card-img-top {
  object-fit: contain;
  object-position: top;
}

.a-Default {
    color: #ff6b9d;              /* hellrosa */
    text-decoration: none;
    transition: color 0.2s ease;
}

.a-Default:hover {
    color: #ff3f87;              /* kräftiger beim Hover */
    text-decoration: underline;
}

.a-Default:visited {
    color: #b26bff;              /* violett für besuchte Links */
}
